body {
  background-color: #f9f6f7;
  font-family: "Roboto", sans-serif;
}
a {
  color: #885df1;
}

header {
  border-bottom: 1px solid rgb(253, 248, 255);
  padding-bottom: 30px;
}

.weather-app {
  background-color: rgb(239, 233, 240);
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 13px 9px 31px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.search-form-input {
  background-color: rgb(253, 248, 255);
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: rgb(174, 143, 188);
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  font-size: 16px;
  color: #f9f6f7;
  margin-left: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.search-form-button:hover {
  background-color: #f9f6f7;
  color: rgb(174, 143, 188);
  border-color: rgb(174, 143, 188);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 25px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  height: 98px;
  width: 98px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 17px;
  opacity: 0.7;
  color: rgba(27, 26, 33, 0.4);
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  font-size: 15px;
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.forecast-temp-max,
.forecast-temp-min {
  padding: 0 10px;
}

.forecast-temp-min {
  opacity: 0.9;
}
footer {
  border-top: 1px solid rgb(253, 248, 255);
  padding-top: 30px;
  text-align: center;
  font-size: 13px;
  padding: 15px 20px;
  color: grey;
}
